DOMAIN=youtube-observation.9ek.ru

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=random_string
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="mysql://db_user:db_password@127.0.0.1:3306/db_name?serverVersion=5.7"
###< doctrine/doctrine-bundle ###

CDN_HOSTNAME=
CDN_PORT=
CDN_USERNAME=
CDN_PASSWORD=
CDN_PATH=
